# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Ignore Play! working directory #
db
data
documents
lib
log
logs
tmp
out
test-result

nbproject
*.iml
*.ipr
*.iws
server.pid
modules
cobertura.ser
atlassian-ide-plugin.xml
!app/exceptions
!app/models
!app/services
!app/validators