<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Paramètre de connexion à la base de données -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://10.0.0.174:3306/calendar</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">formation</property>
		<!-- Affiche les logs SQL -->
<!--		<property name="show_sql">true</property> -->
<!--		<property name="hibernate.format_sql">true</property> -->
<!--		<property name="use_sql_comments">true</property> -->
		
		<!-- Comportemnt pour la conservation des tables -->
		<property name="hbm2ddl.auto">update</property>
		
		<!-- Fichiers à mapper -->
		<mapping class="models.Evenement" />
		<mapping class="models.Invite" />
		<mapping class="models.Utilisateur" />
	</session-factory>
</hibernate-configuration>