#{extends 'main.html' /}
#{set title:'Calendar - Liste des évenements' /}

<div class="container">
    <h1>Liste des évenements :</h1>
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item active"><strong>${event.nom}</strong> - Lieu : ${event.lieu}</li>
            <li class="list-group-item">
                <strong>Date - </strong>début : ${event.dateDebut} - fin : ${event.dateFin}
            </li>
            <li class="list-group-item">${event.description}</li>
        #{if event.invites.size() == 0}
            <li class="list-group-item"><i>pas d'invité</i></li>
        #{/if}
        #{else }
            <li class="list-group-item">
                Liste des invités :
                <div class="container">
                    #{list event.invites, as:'invite'}
                        <br>
                        <a href="@{UtilisateurController.utilisateur(invite.email)}">${invite.email}</a>
                    #{/list}
                </div>
            </li>
        #{/else}
        </ul>
    </div>
    <a href="javascript:history.back()" class="btn btn-default">Retour</a>
</div>