#{extends 'main.html' /}
#{set title:'Calendar - Liste des évenements' /}

<div class="container">
    <h1>Détail de l'évènement :</h1>
<div class="container clearfix">
#{if event == null}
    <h3 class="alert alert-warning" role="alert"><i>l'évènement recherché n'existe pas !</i></h3>
#{/if}
#{else }
    <ul class="list-group">
        <li class="list-group-item active">
            #{if event.categorie != null}
                <img src="/public/images/${event.categorie.getLabel()}.png">
            #{/if}
            <strong>${event.nom}</strong> - Lieu : ${event?.lieu}
            <a href="@{EvenementController.updateEvent(event.idEvenement)}" class="btn btn-warning pull-right">Modifier</a>
        </li>
        <li class="list-group-item">
            <strong>Date - début : </strong>${event.dateDebut.format("dd/MM/YY - HH:mm")}<strong> - fin : </strong>${event.dateFin.format("dd/MM/YY - HH:mm")}
        </li>
        <li class="list-group-item">${event?.description}</li>
        #{if event.invites.size() == 0}
            <li class="list-group-item"><i>pas d'invité</i></li>
        #{/if}
        #{else }
            <li class="list-group-item">
                Liste des invités :
                <div class="container">
                    #{list event.invites, as:'invite'}
                        <br>
                        <span>${invite.email}</span>
                    #{/list}
                </div>
            </li>
        #{/else}
    </ul>
</div>
#{/else}
    <a href="@{controllers.EvenementController.findEvents}" class="btn btn-default">Retour</a>
</div>