#{extends 'main.html' /}
#{set title:'Calendar - Créer un évenement' /}

<div class="container">
    <h1>Nouvel évenement :</h1>
    <div class="container clearfix">
    #{ifErrors}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Erreur lors de la création de l'évenement !<br>
            Verifiez que tous les champs soient correctement remplis
        </div>
    #{/ifErrors}
        <form action="@{EvenementController.saveEvent()}" method="post">
            <h2>paramètres :</h2>
            <div class="container">
                Catégorie :
                <div class="input-group">
                    <label>
                        <input type="radio"
                               name="optionsRadios"
                               id="optionsRadios5"
                               value="${models.types.Categorie.GREEN}"
                               checked="checked"
                    ${models.types.Categorie.GREEN.getLabelFR()}
                    </label>
                </div>
                <div class="input-group">
                    <label>
                        <input type="radio"
                               name="optionsRadios"
                               id="optionsRadios1"
                               value="${models.types.Categorie.RED}"
                    ${models.types.Categorie.RED.getLabelFR()}
                    </label>
                </div>
                <div class="input-group">
                    <label>
                        <input type="radio"
                               name="optionsRadios"
                               id="optionsRadios2"
                               value="${models.types.Categorie.BLACK}"
                    ${models.types.Categorie.BLACK.getLabelFR()}
                    </label>
                </div>
                <div class="input-group">
                    <label>
                        <input type="radio"
                               name="optionsRadios"
                               id="optionsRadios3"
                               value="${models.types.Categorie.BLUE}"
                    ${models.types.Categorie.BLUE.getLabelFR()}
                    </label>
                </div>
                <div class="input-group">
                    <label>
                        <input type="radio"
                               name="optionsRadios"
                               id="optionsRadios4"
                               value="${models.types.Categorie.CYAN}"
                    ${models.types.Categorie.CYAN.getLabelFR()}
                    </label>
                </div>
                <div class="input-group">
                    <label>
                        <input type="radio"
                               name="optionsRadios"
                               id="optionsRadios6"
                               value="${models.types.Categorie.MAGENTA}"
                    ${models.types.Categorie.MAGENTA.getLabelFR()}
                    </label>
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Nom</span>
                <input class="form-control" type="text" name="nom" value="rdv important" required>
                <span class="error">#{error 'nom' /}</span>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">Description</span>
                <input class="form-control" type="text" name="description" value="n'oublie surtout pas">
                <span class="error">#{error 'description' /}</span>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Lieu</span>
                <input class="form-control" type="text" name="lieu" value="rouen">
                <span class="error">#{error 'lieu' /}</span>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon4">Date de début</span>
                <input class="form-control" type="date" name="dateDebutString" required>
                <span class="error">#{error 'dateDebutString' /}</span>

                <span class="input-group-addon" id="basic-addon5">Heure de début</span>
                <input class="form-control" type="time" name="heureDebut">
                <span class="error">#{error 'heureDebut' /}</span>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon6">Date de fin</span>
                <input class="form-control" type="date" name="dateFinString" required>
                <span class="error">#{error 'dateFinString' /}</span>

                <span class="input-group-addon" id="basic-addon7">Heure de fin</span>
                <input class="form-control" type="time" name="heureFin">
                <span class="error">#{error 'heureFin' /}</span>
            </div>

            <div class="pull-left input-group">
                <input class="btn btn-primary" type="submit" value="Créer">
            </div>
            <div class="pull-right">
                <a class="btn btn-warning" href="@{EvenementController.findEvents()}">Annuler</a>
            </div>
        </form>
    </div>
    <br>
    <br>
    <a href="@{EvenementController.findEvents()}" class="btn btn-default">Retour</a>
</div>