#{extends 'main.html' /}
#{set title:'Calendar - Sommaire' /}

<div class="container">
    <h1>Application calendrier :</h1>
    <div class="container clearfix">
        <a class="btn btn-primary pull-left" href="@{controllers.EvenementController.newEvent()}">
            Créer un évenement
        </a>
    </div>
    <br>
    <br>
    <div class="container btn-group" >
        <a class="btn btn-default" href='@{UtilisateurController.userList()}'>
            Voir la liste des utilisateurs
        </a>
        <a class="btn btn-default" href='@{EvenementController.eventList()}'>
            Voir la liste des évenements
        </a>
    </div>
</div>